header.main-header
  .header-top
    .container
      .d-flex
        a.logo(href="#")
          img(src="dist/images/logo.png" alt="")
        .logo-left.ml-auto
          ul.m-0.p-0.list-unstyled.d-flex.align-items-center.flex-wrap
            li.mr-4
              a.text-uppercase.font-weight-bold(href="#") fr
            li.mr-4.icon.d-none.d-sm-block 
              a(href="#")
                img(src="dist/images/bell.png" alt="")  
            li.mr-4.icon.d-none.d-sm-block
              a(href="#")
                img(src="dist/images/message.png" alt="") 
            li.font-weight-bold.d-none.d-sm-block
              a(href="#") Register
            li.mx-1.d-none.d-sm-block or
            li.font-weight-bold
              a(href="#") Sign In
            li.ml-4
              a.btn.button(href="#") Post ad      
  .header-form
    .container
      .d-grid
        input.search(type="text" placeholder="Search for anything...")
        select.selectpicker.w-100.ads(name='SearchCategory')
          option(value='0') All Ads
          option(value='10') Buy & Sell
          option(value='72') Services
          option(value='27') Cars & Vehicles
          option(value='112') Pets
          option(value='800') Vacation Rentals
          option(value='1') Community
          option(value='34') Real Estate
          option(value='45') Jobs
        select.selectpicker.w-100(name='SearchCategory')
          option(value='0') Canada
          option(value='10') Buy & Sell
          option(value='72') Services
          option(value='27') Cars & Vehicles
          option(value='112') Pets
          option(value='800') Vacation Rentals
          option(value='1') Community
          option(value='34') Real Estate
          option(value='45') Jobs  
        button(type="submit") 
          <i class="fal fa-search"></i>  
  .menu(style="background: #fff")
    .container
      nav.yamm.navbar.navbar-expand-lg.p-0
        button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbar-collapse-grid' aria-controls='navbar-collapse-grid' aria-expanded='false' aria-label='Toggle navigation')
          <i class="fas fa-bars"></i>
        .menu-logo.ml-auto.mb-1
          img(src="dist/images/menu-logo.png" alt="")    
        #navbar-collapse-grid.navbar-collapse.collapse
          ul.navbar-nav
            - for(var z=0; z<5; z++)
              li.nav-item.dropdown
                a.nav-link.dropdown-toggle(href='#' data-toggle='dropdown') Buy & Sell
                .dropdown-menu.p-0
                  .yamm-content
                    .row
                      - for(var y=0; y<3; y++)
                        .col-lg-3.col-12
                          ul.dropdown-list
                            - for(var x=0; x<8; x++)
                              li
                                a(href="#") All in Buy & Sell
