.header-top {
  padding: 15px 0;
  border-top: 5px solid rgb(226, 46, 126);
  .icon {
    transition: 0.3s;
    &:hover {
      transform: translateY(-3px);
    }
  }
}

.header-form {
  margin-bottom: 15px;
  .d-grid {
    grid-template-columns: 1fr 1fr 1fr 68px;
    @include md {
      grid-template-columns: 1fr 68px;
      grid-row-gap: 10px;
      .ads,
      .search {
        grid-column: 1/-1;
      }
    }
  }
  input {
    height: 40px;
    border-radius: 4px 0 0 4px;
    background: none;
    color: #3e4153;
    border: 1px solid#d2d3d7;
    padding: 10px 20px;
    @media (min-width: 768px) {
      border-right: none;
    }
    &:focus {
      outline: none;
      border: 1px solid rgb(226, 46, 126);
      box-shadow: 0 0 5px rgb(226, 46, 126);
    }
  }
  button[type="submit"] {
    background: none;
    border: 1px solid#d2d3d7;
    color: rgb(226, 46, 126);
    transition: 0.3s;
    border-radius: 0 5px 5px 0;
    &:hover {
      background: rgb(226, 46, 126);
      color: #fff;
      border-color: rgb(226, 46, 126);
    }
  }
  .bootstrap-select {
    &.show {
      .dropdown-toggle {
        border: 1px solid rgb(226, 46, 126);
        box-shadow: 0 0 5px rgb(226, 46, 126);
      }
    }
    > .dropdown-toggle {
      background: none;
      padding: 7px 20px;
      border: 1px solid #d2d3d7;
      border-radius: 0;
      @media (min-width: 768px) {
        border-right: none;
      }
      &:after {
        border-top: 0.3em solid #c5c6cb;
      }
    }
  }
}

.bootstrap-select .dropdown-toggle:focus,
.bootstrap-select > select.mobile-device:focus + .dropdown-toggle {
  outline: 0 auto !important;
}
// ======================menu
body {
  overflow-x: hidden;
}
@include lg {
  body.show {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: fixed;
    .header-top {
      border-color: rgba(51, 51, 51, 0.8);
    }
  }
}
.main-header {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}
.menu {
  @include lg {
    padding: 10px 0;
  }
}
.menu-logo {
  @media (min-width: 992px) {
    order: 2;
  }
}
.yamm {
  @include lg {
    position: static;
  }
}
.yamm .dropdown-menu {
  left: 50%;
  width: 100vw;
  margin-left: -50vw;
  // right: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  @include lg {
    box-shadow: none;
    border: none;
    &.show {
      background-color: rgba(51, 51, 51, 0.8);
      top: 0;
      overflow-y: auto;
      height: 100%;
      position: absolute;
      .yamm-content {
        max-width: 350px;
        background: #fff;
        padding: 20px;
        margin: 50px auto;
        position: relative;
        &:before {
          font-family: "Font Awesome 5 Pro";
          font-weight: 900;
          content: "\f057";
          position: absolute;
          right: 15px;
          top: 5px;
          cursor: pointer;
          z-index: 9;
          font-size: 25px;
        }
      }
    }
  }
}
.dropdown-toggle::after {
  display: none;
}
nav.yamm.navbar {
  .nav-item {
    padding-right: 30px;
    position: static;
  }
  .nav-link {
    color: #373373;
    font-weight: 600;
    border-bottom: 3px solid transparent;
    padding: 20px 0;
    @include lg {
      padding: 10px 0;
    }
  }
  @media (min-width: 992px) {
    .nav-item:hover .dropdown-toggle + .dropdown-menu {
      display: block;
    }
  }
  .nav-item:hover {
    .nav-link {
      border-bottom: 3px solid #000;
    }
  }
}
.dropdown-menu {
  border: none;
  border-radius: 0;
}
nav.yamm .yamm-content {
  padding: 30px;
  background: url(../images/menu-bg.jpg);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: auto 100%;
  @include lg {
    padding: 15px 0;
    background: none;
  }
}
.dropdown-list {
  padding: 0;
  margin: 0;
  list-style: none;
  li {
    margin-bottom: 10px;
  }
  a {
    color: #3e4153;
    font-weight: 600;
    &:hover {
      color: #2681db;
    }
  }
}
