// ============================ .selling-proposition
.selling-proposition {
  .content {
    max-width: em(518px);
    h2 {
      font-size: em(26px);
      line-height: (38/26);
      padding-bottom: calc-em(24, 26);
      color: #303030;
    }
    li {
      line-height: (23/15);
      padding-bottom: em(24);
      h6 {
        color: #303030;
        margin: 0;
        display: flex;
        align-items: center;
        &:before {
          background: url(../images/checkmark.0c8e7a1.svg) no-repeat;
          background-size: auto;
          background-size: em(16px);
          content: "";
          display: inline-block;
          height: em(16px);
          width: em(16px);
          color: #1dbf73;
          margin-right: em(12px);
        }
      }
      p {
        margin: 0;
      }
    }
  }
  .video-modal {
    .picture-wrapper {
      cursor: pointer;
      &:after {
        content: "";
        display: inline-block;
        background: url(../images/desktop-play-button.c1196d6.png) no-repeat;
        background-size: auto;
        background-size: em(80px);
        width: em(80px);
        height: em(80px);
        position: absolute;
        z-index: 0;
        top: 50%;
        left: 0;
        right: 0;
        margin: 0 auto;
        margin-top: em(-40px);
      }
    }
  }
}
.youtube-popup {
  .modal-dialog {
    width: 70vw;
    max-width: none;
    margin: 6vh auto;
    @include sm {
      width: 99vw;
    }
    .modal-content {
      background: transparent;
      border: none;
    }
    .close-btn {
      color: #fff;
      cursor: pointer;
    }
    iframe {
      width: 100%;
      height: 80vh;
    }
  }
}
