.menu {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  @include lg {
    padding: 20px 0;
  }
}
.yamm {
}
.yamm .dropdown-menu {
  left: 0;
  width: 100%;
  right: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.05);
  @include lg {
    box-shadow: none;
    border: none;
  }
}
.dropdown-toggle::after {
  display: none;
}
nav.yamm.navbar {
  .nav-item {
    padding-right: 30px;
  }
  .nav-link {
    color: #373373;
    font-weight: 600;
    border-bottom: 3px solid transparent;
    padding: 20px 0;
    @include lg {
      padding: 10px 0;
    }
  }
  @media (min-width: 992px) {
    .nav-item:hover .dropdown-toggle + .dropdown-menu {
      display: block;
    }
  }
  .nav-item:hover {
    .nav-link {
      border-bottom: 3px solid #000;
    }
  }
}
.dropdown-menu {
  border: none;
  border-radius: 0;
}
nav.yamm .yamm-content {
  padding: 30px;
  background: url(../images/menu-bg.jpg);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: auto 100%;
  @include lg {
    padding: 15px 0;
    background: none;
  }
}
.dropdown-list {
  padding: 0;
  margin: 0;
  list-style: none;
  li {
    margin-bottom: 10px;
  }
  a {
    color: #3e4153;
    font-weight: 600;
    &:hover {
      color: #2681db;
    }
  }
}
